anyio==4.11.0
appnope==0.1.4
asteval==1.0.6
asttokens==3.0.0
attrs==25.3.0
bayesian-optimization==1.4.0
beautifulsoup4==4.13.5
bleach==6.2.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cma==4.3.0
cmdstanpy==1.2.5
colorama==0.4.0
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
directsearch==1.0
executing==2.2.0
fastjsonschema==2.21.2
fonttools==4.59.1
h11==0.16.0
holidays==0.79
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
inquirerpy==0.3.4
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kaleido==0.2.1
kiwisolver==1.4.9
lmfit==1.3.2
lxml==6.0.2
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mistune==3.1.4
mizani==0.11.4
multiprocess==0.70.14
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nevergrad==1.0.5
nlopt==2.9.1
numpy==2.1.1
orjson==3.9.15
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.5
patsy==1.0.1
pexpect==4.9.0
pfzy==0.3.4
pillow==11.3.0
platformdirs==4.4.0
plotly==5.24.1
plotnine==0.13.6
pluggy==1.6.0
prompt_toolkit==3.0.51
prophet==1.1.6
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.2
pyparsing==3.2.3
pytest==8.3.3
python-bcb==0.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.0.2
referencing==0.36.2
requests==2.32.5
robyn==0.72.0
robynpy==0.3.6
rpds-py==0.27.0
rpy2==3.5.16
rustimport==1.3.4
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.5
tenacity==9.1.2
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
tornado==6.5.2
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uncertainties==3.2.3
urllib3==2.5.0
uvloop==0.21.0
watchdog==4.0.1
wcwidth==0.2.13
webencodings==0.5.1
